

body{
	/*width: 900px;*/
	background: #02010a;
  font-family: "Dancing Script",cursive;

}
#contenido{
	width: 900px;
	margin: 0 auto;
}
header{
	height: 3em;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	background-color: #5b7989;
	color:white;
	font-size: 16px;
	text-shadow: 2px 2px #02010a;
}

header nav {
  float: right;
}
nav a {
	color:white;
	list-style: none;
	margin: 0em 1em 0em 0em;
  /*display: inline;*/
}
nav a:visited {
	height: 30px;
}


article{
	box-sizing: border-box;
	height: 100%;
	background-color: grey;
	padding: 2%;
	text-align: center;
	height: 400px;
}

	#Presentacion	{
	background-color: #91C9E8;
	width: 100%;
	}
	#Menu	{
	background-color: #D1D1D1;
	width: 100%;
	}

footer{
	box-sizing: border-box;
	height: 100%;
  border-radius: 0px 0px 10px 10px;
	background-color: grey;
	padding: 2%;
	text-align: center;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
}
@media screen and (max-width: 900px){

	#contenido	{
		width: 95%;

	}
}

@media screen and (max-width: 640px){

	#contenido	{
		width: 95%;

	}
}

@media screen and (max-width: 480px){

#contenido	{
		width: 95%;
	}
	#Presentacion	{
	 width: 100%;
	}
	#Menu	{
	 width: 100%;
	}
	header	{
	 text-align: center;
	 height: 4em;
	}
	header nav{
  	font-size: 16px;
    padding-top: 2%;
    padding-right:10%; }
	}


}
